.footer-container {
  background-color: #0d0e10;
  color: #33ff33;
  font-family: 'Press Start 2p';
  height: 10vh;
  margin-bottom: 0;
}

.footer-container > p {
  margin-bottom: 0;
  padding-top: 20px;
  text-align: center;
}

.footer-icon {
  padding-left: 7px;
}