@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

h2 {
  font-size: 2.0rem;
}
p {
  font-size: 1.3rem;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}