.experience-body {
  background-color: #292f36;
  padding: 20px;
}
.container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.blurb  {
  font-family: "Press Start 2p";
  text-align: center;
  color: #33ff33;
  padding-top: 10px;
}

.article > h3 {
  padding-bottom: 20px;
}

article > h3 {
  padding-bottom: 10px;
  color: 	#8F76AA;
}

.fa-icon {
  padding: 10px
}

.article-text {
  font-family: 'VT323';
  color: #AFBABA;
  padding-left: 10px;
  padding-right: 10px;
}

div p {
  margin-bottom: 4%;
}

.child {
  width: 33%;
  font-family: "Press Start 2p";
  color: #8F76AA
}


@media all and (max-width: 585px) {
  .container {
    flex-direction: column;
    justify-content: center;
  }
  .child {
    text-align: center;
    width: 100%;
  }
}