.experience-body {
  background-color: #333333;
  padding: 20px;
}
.container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.blurb  {
  font-family: "Press Start 2p";
  text-align: center;
  color: #33ff33;
}

article > h3 {
  padding-bottom: 10px;
  color: 	#BE7532;
}

.fa-icon {
  padding: 10px
}

.article-text {
  font-family: 'VT323';
  color: #AFBABA;
  padding-left: 10px;
  padding-right: 10px;
}

div p {
  margin-bottom: 4%;
}

.child {
  width: 33%;
  font-family: "Press Start 2p";
  color: #ef626c
}


@media all and (max-width: 585px) {
  .container {
    flex-direction: column;
    justify-content: center;
  }
  .child {
    text-align: center;
    width: 100%;
  }
}