.experience-body {
  background-color: #22181c;
  padding: 20px;
}
.container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.blurb {
  font-family: "Roboto";
  text-align: center;
  color: #ef626c;
}

article > h2 {
  padding-bottom: 10px;
}

.fa-icon {
  padding: 10px
}

.article-text {
  color: #f6e8ea;
  padding-left: 10px;
  padding-right: 10px;
}

div p {
  margin-bottom: 4%;
}

.child {
  width: 33%;
  font-family: "Roboto";
  color: #ef626c
}


@media all and (max-width: 585px) {
  .container {
    flex-direction: column;
    justify-content: center;
  }
  .child {
    text-align: center;
    width: 100%;
  }
}