.cursor {
  border-right: 0.50em solid #fff;
  animation: blink-caret .5s step-end infinite;
}

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color:white }
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.3rem;
}

.title {
  font-family: "Press Start 2p";
  color: #33ff33;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%)
}

header {
  background-image:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  
  url(https://i.imgur.com/gWQib43.jpg);
  background-size: cover;
  height: 100vh;
}

.button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: 3px solid #fff;
  text-align: center;
  outline: none;
  width: 200px;
  padding: 8px;
  text-align: center;
  color: #fff;
  margin-top: 10%;
  border-radius: 0px;
  transition: 
    background-color 0.2s ease-out,
    color 0.2s ease-out,
    border-radius 0.3s ease-out;
}

.button:hover {
  background-color: #fff;
  cursor: pointer;
  color: #000;
  border-radius: 5px;
  transition:
    background-color 0.3s ease-in,
    color 0.3s ease-in,
    border-radius 0.3s ease-in;
}