.cursor {
  border-right: 0.50em solid #fff;
  animation: blink-caret .5s step-end infinite;
}

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color:white }
}

.hi-message {
  font-size: 2rem;
}

.typewriter-text {
  font-family: "Press Start 2p";
  font-size: 1.3rem;
}

.title {
  font-family: "Press Start 2p";
  color: #33ff33;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%)
}
.links{
  font-family: "Roboto";
}
header {
  background-image:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  
  url(https://i.imgur.com/gWQib43.jpg);
  background-size: cover;
  height: 100vh;
  padding-bottom: 0;
  margin-bottom: 0;
}

.chevron {
  color : #dadfdf;
  padding-bottom: 10%;
}

.chevron:hover {
  color: #33ff33;
  transition:
  color 0.3s ease-in;
}

.chevron-text {
    color: #dadfdf;
    font-family: "Press Start 2p";
}

.links{
  text-align: center;
  position: absolute;
  color: #dadfdf;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.chevron-text{
  margin-top: 15%;
}


@media all and (max-width: 500px) {
  .hi-message{
    font-size: 1rem;
  }
  .typewriter-text {
    font-size: .8rem;
  }
}